Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(rc={'figure.figsize':(10, 8)});

Loading the dataset

In [ ]:
df = pd.read_csv('data/zomato.csv',encoding="ISO-8859-1")
code_of_country = pd.read_csv('data/Country-Code.csv',encoding = "ISO-8859-1")
df1 = pd.merge(df, code_of_country, on='Country Code')
df1.head(10).T

Total Countries in the dataset

In [ ]:
df1['Country'].unique()

Counts of all the countries

In [ ]:
df1['Country'].value_counts().head(5)

Count of all the Cities

In [ ]:
df1['City'].unique()

In [ ]:
df1['City'].value_counts().head(5)

Какие типы кухни подают в ресторанах? Как связан этот признак с рейтингом? Не забывайте о визуализации информации.

In [ ]:
df1.groupby('Cuisines')['Aggregate rating'].mean().plot.hist(orientation='vertical', color='pink', figsize=(5,5))
plt.figure()

Plot the aggreigate rating of the dataframe

In [ ]:
df1.groupby('Aggregate rating')['Average Cost for two'].mean().plot(kind='bar', figsize=(10,10), color='blue')
plt.xlabel('Aggregate rating', color='g')
plt.ylabel('Average Cost for two', color='g')
plt.figure();

Print the average number of the restaurant have table booking service or not

In [ ]:
print('Has table booking = ', df1[df1['Has Table booking']=='Yes']['Aggregate rating'].mean())
print('Hasn`t table booking= ', df1[df1['Has Table booking']=='No']['Aggregate rating'].mean())

Plot the rating

In [ ]:
df1.groupby('Has Table booking')['Aggregate rating'].mean().plot(kind='bar', color='pink', figsize=(5,5))
plt.xlabel('Has Table Booking', color='grey')
plt.ylabel('Aggregate rating', color='grey') 
plt.figure();

In [ ]:
df1.groupby('Rating text')['Longitude', 'Latitude'].mean().plot(kind='bar', figsize=(5,5))
plt.figure();

In [ ]:
df1['Restaurant Name'].value_counts().head(5)

Построим график.

In [ ]:
df1['Restaurant Name'].value_counts().head(5).plot(kind='bar', color='black', figsize=(10,10))
plt.xlabel('Name of restaurant', color='g')
plt.ylabel('Amount of each restaurant', color='g')
plt.figure()

Отсортируем кухни по популярности.

In [ ]:
df1['Cuisines'].value_counts().head(30)

Построим график.

In [ ]:
df1['Cuisines'].value_counts().head(10).plot(kind='bar', figsize = (10,10), color='black')
plt.xlabel('Popularity of cuisines')
plt.figure()

In [2]:
import pandas as pd
res = pd.read_csv("data/zomato.csv",encoding="ISO-8859-1")
country = pd.read_csv('data/Country-Code.csv')

In [3]:
Features = ['City', 'Cuisines', 'Average_Cost_for_two', 'Currency', 'Has_Online_delivery','Has_Table_booking']

In [ ]:
for i in Features:
    if len(res[i].unique()) == 1:
        break
    option = input(res[i].unique())
    res = res[res[i] == option]  
    print(res)

In [ ]:
res[res['City'] == 'Athens']

In [ ]:
res[Features[0]].unique()

In [6]:
res.columns

Index(['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address',
       'Locality', 'Locality_Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average_Cost_for_two', 'Currency', 'Has_Table_booking',
       'Has_Online_delivery', 'Is_delivering now', 'Switch_to_order_menu',
       'Price_range', 'Aggregate_rating', 'Rating_color', 'Rating_text',
       'Votes'],
      dtype='object')

In [3]:
import os
"C:/Users/User/Desktop/IMG_20171120_112832.jpg".split('/')[-1]

'IMG_20171120_112832.jpg'

In [16]:
import pandas as pd

df = pd.read_csv('data/zomato.csv',encoding="ISO-8859-1" )

In [10]:
df[df['email'] == 'abc@gmail.com']['user_name'].values[0]
df

,user_name,email,country,language,role,gender,password
0,Muhammad Abdullah javaid,abc@gmail.com,Pakistan,Urdu,User,Male,CCC
1,makm,nsakj@gmail.com,mdkal,"dma,",Admin,Male,C

In [12]:
df[df['email'] == 'abc@gmail.com'] = ['abdullah',"11@gmail.com","ndkas","dsad","mskal","jnkbhj"]

ValueError: cannot set using a list-like indexer with a different length than the value

In [19]:
df.head()

,Restaurant_ID,Restaurant_Name,Country_Code,City,Address,Locality,Locality_Verbose,Longitude,Latitude,Cuisines,...,Currency,Has_Table_booking,Has_Online_delivery,Is_delivering now,Switch_to_order_menu,Price_range,Aggregate_rating,Rating_color,Rating_text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [5]:
string = "abdullah"

In [9]:
"abd".find(string)

-1

In [11]:
df

  user_name               email   country language   role gender password
0  abdullah       abc@gmail.com  Pakistan     Urdu   User   Male      CCC
1  abdullah  abdullah@gmail.com       111     2121  Admin   Male      CCC

In [24]:
df[df['Restaurant_Name'].str.contains("Ooma")]['Restaurant_Name'].values

array(['Ooma'], dtype=object)